# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Dependency files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
*.bin
*.ckpt
*.pt
*.onnx
*.tflite

# Hugging Face cache
.cache/
huggingface/
hf_cache/

# Datasets
datasets/
data/

# Environment files
.env

# VSCode settings
.vscode/

# IDE settings
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db
